Options +FollowSymLinks
RewriteEngine On
RewriteBase /
Options -Indexes

RewriteCond %{HTTP_HOST} ^projet-5.jeromelacquemant.fr/$
RewriteRule ^(.*)   http://www.projet-5.jerome.lacquemant.fr/$1  [QSA,L,R=301]

RewriteRule ^salut$ /index.php [L]
RewriteRule ^article/([a-z0-9-]+)-([0-9]+)$ /index.php?page=post&titre=$1&id=$2 [L]




RewriteRule ^curriculum-vitae\.html apropos.php [L]
RewriteRule ^blog-article-(.*)-([0-9]+)-([0-9]+)\.html$ tribune.php?annee=$2&id=$3 [L]
RewriteRule ^maintenancewordpress\.html$ maintenancewordpress.php [L]
RewriteRule ^ontact-et-informations\.html$ contact.php [L]
RewriteRule ^blog\.html$ tribunes.php [L]
RewriteRule ^blog-article-([0-9]+)\.html$ tribunes.php?annee=$2&id=$3 [L]
RewriteRule ^blog-article-(.*)-([0-9]+)-([0-9]+)\.html$ tribune.php?annee=$2&id=$3 [L]
RewriteRule ^realisations\.html$ clients.php [L]
RewriteRule ^realisations-categories-(.*)-([0-9]+)\.html$ clients.php?cat=$2 [L]
RewriteRule ^realisations-(.*)-([0-9]+)\.html$ client.php?id=$2 [L]
RewriteRule ^mentions-legales\.html$ legal.php [L]




#GESTION DES ERREURS
ErrorDocument 400 /views/frontend/error.php
ErrorDocument 401 /views/frontend/error.php
ErrorDocument 402 /views/frontend/error.php
ErrorDocument 403 /views/frontend/error.php
ErrorDocument 404 /views/frontend/error.php
ErrorDocument 405 /views/frontend/error.php
ErrorDocument 500 /views/frontend/error.php
ErrorDocument 501 /views/frontend/error.php
ErrorDocument 502 /views/frontend/error.php
ErrorDocument 503 /views/frontend/error.php
ErrorDocument 504 /views/frontend/error.php
ErrorDocument 505 /views/frontend/error.php